<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>

		<add name ="CadenaConexionSQL" connectionString="Data Source=Jorge-Soto; Initial Catalog=RentaCarros; User ID=sa; Password=Jorge131198; Server=Jorge-Soto; Integrated Security=SSPI; Trusted_Connection=False; MultipleActiveResultSets=True"/>

	</connectionStrings>
	
</configuration>